<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if object %}
        <title>Edit Character - {{ object.name }}</title>
    {% else %}
        <title>New Character</title>
    {% endif %}
</head>
<body>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <h2>Character Info</h2>
        {{ form.as_p }}
        <h2>Modes</h2>
{#        {{ modes.management_form }}#}
        {{ modes.as_p }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>