<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if card %}
        <title>Edit Character - {{ card.name }}</title>
    {% else %}
        <title>New Character</title>
    {% endif %}
</head>
<body>
    {% if card %}
        <form action="{% url 'char_edit' card.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <form action="{% url 'char_create' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
</body>
</html>