<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Cards</title>
</head>
<body>
    {% if char_list %}
        <h2>Character</h2>
        <ul>
        {% for card in char_list %}
            <li><a href="{% url 'char_detail' card.id %}">{{ card.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if strat_list %}
        <h2>Stratagems</h2>
        <ul>
        {% for card in strat_list %}
            <li><a href="{% url 'strat_detail' card.id %}">{{ card.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>